<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercicio 3</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Merriweather:wght@700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="exercicio3.css">
</head>
<body>
    <header>Folha Notícias</header>
   <div class="container">
    <main>Principal</main>
    <aside>Anuncios</aside>
   </div>
    <footer>Rodapé</footer>
</body>
</html>