<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout Na Prática</title>
    <link rel="stylesheet" type="text/css" href="LayoutFloeNaPrática.css">
</head>
<body>
    <h1>LAYOUT</h1>
     <p>
         Lorem ipsum dolor sit amet consectetur adipisicing elit. 
         <a href="#">modi</a> Dicta officiis quibusdam delectus sed ullam cupiditate qui, ad numquam tempore debitis.
          Error, <a href="#">debits excepturi</a> qui cum autem est harum fugit molestiae esse beatae.
     </p>
     <p>
         Lorem ipsum dolor sit amet consectetur adipisicing elit. 
         Asperiores dicta deserunt excepturi alias deleniti, dolorum vitae quia sit culpa velit.
     </p>
     <a href="#" class="btn">Saiba mais</a>

</body>
</html>