Layout > lay aut > dispor, arranjar
É o algaritimo que determina como um elemento html dispoe seus filhos diretos.

Layout flow é layout padrão (block inline e inline-block)
alinhamento horizontal
ideal para documentos de texto.

Layout flow - Block elements:

um block element cria uma quebra de linha
um block element sempre ocupa toda a largura (width) disponivel (estende-se para a esquerda e direita)
Pode conter outros block e inline elements
Os elementos <div>,<h1>-<h6>e<p> são block elements.

    LAYOUT FLOW - INLINE elements:

    Um inline element não cria uma quebra de linha 
    Um inline element ocupa apenas a largura (width) necessária (não é possível alterar seu width e height)
    As propriedades margin-top e bottom são ignoradas em  inline elementos
    As propriedades padding-top  e bottom não interferem no tamanho total de um inline element
    Pode conter outros inline elements
    Os elementos <span>,<img> e <a> são inline elements

        LAYOUT FLOW- BLOCK elements

        Um inline-block element não cria uma quebra de linha 
        Um inline-block element ocupa apenas a largura (width) necessaria (mas podemos modificar seu width e height)
        Um inline element pode possuir  margin-top e bottom
        Pode conter outros block e inline elements